<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" rel="stylesheet" href="styles.css">
    <script src="project.js" defer></script>
    <title>ToDoList</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <a href="./mytodolist">
            <img class="logo-img" src="pictures/lion_logo.png" alt="logo"></img>
            </a>
        </header>

        <div class="background"></div>
        <nav>
            <div class="navigation">
                <div class="navigation-start">
                    <li>
                        <a href="./mytodolist">Let's do it</a>
                    </li>
                </div>
                <div class="navigation-end">
                    <li>
                        <a href="./logout" class="logout">Logout</a>
                    </li>
                </div>
            </div>
        </nav>
        div.error-handler 
        <div class="main-field">

            <div class="add-new-tasks">
                <p class="main-headers">Add new task</p>
                div.error-handler #{error}
                <input class="input-task" placeholder="I should do ..." />
                <button class="add-to-list">Add to list</button>
            </div>

            div.in-progress-tasks
                p.main-headers= "Current tasks"
                each activeTask in activeTasks
                 div(class="task-in-progress" data-index=activeTask._id)
                    input(type='checkbox' id=`task_${activeTask._id}`)
                    label(for=`task_${activeTask._id}`)= activeTask.name
                    button.delete-task= '×'

            div.completed-tasks
                p.main-headers= "Completed tasks"
                each completedTask in completedTasks
                 div(class="task-completed" data-index=completedTask._id)
                    input(type='checkbox' id=`task_${completedTask._id}` checked=true)
                    label(for=`task_${completedTask._id}`)= completedTask.name
                    button.delete-task= '×'
        </div>
        <footer>
            <p>
                <a href="https://github.com/ro-mgh/todolist_project" target="_blank">
                    <img class="git-img" src="pictures/git-logo.png" alt="Git">
                </a>
            </p>
        </footer>

    </div>

</body>
</html>